/* #f57c00 */

.menu-item-card{
  display: flex;
  flex-direction:row;
  border: 0.1mm solid rgba(33, 44, 54, 0.433);
  box-shadow: 1px 0.5px 12px 2px rgba(0, 0, 0, 0.141);
  background-color: rgb(235, 235, 235);
  width: 100%;
  min-height: 6cm;
  max-height: 6.5cm;
  height: fit-content;
  max-width: 15cm;
  /* min-width: 12cm; */
}

.menu-item-left-col{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
   /* border: 0.2mm solid green; */
   background-color: rgb(229, 229, 229);
   width: 35%;
   padding: 0.2cm 0.1cm;
   overflow: hidden;

}

.menu-item-right-col{
  /* border: 0.2mm solid red; */
  width: 65%;
  padding: 0.2cm;
}


.menu-item-image{
  position: relative;
  border: 0.2mm solid rgb(221, 221, 221);
  max-width: 5cm;
  max-height: 5cm;
  min-width: 4cm;
  min-height: 4cm;
  overflow: hidden;
}


.menu-item-image img{

  width: 100%;
  height: 100%;
  object-fit: cover;
}


.menu-item-title {
  margin: 0;
  font-size: 26px;
  font-weight: 600;
  /* color: #111827; */
  padding: 0cm 0.2cm;
  color: whitesmoke;
  background-color: black;
}

/* Description */
.menu-item-desc {
  margin: 0;
  font-size: 13px;
  max-height: 4cm;
  min-height: 3.5cm;
  color: #6b7280;
  line-height: 1.4;
  /* border: 0.2mm solid red; */
  overflow: hidden;
}

/* Price */
.menu-item-price {
  margin: 4px 0 0;

  font-size: 25px;
  font-weight: 600;
  color: #16a34a;
}

.menu-item-add{
  position: absolute;
  bottom: 0.25cm;
}

@media only screen and (max-device-width:650px) {
    .menu-item-card{
      transform: scale(0.9);
      min-height: 4cm;
      max-height: 5.1cm;
      max-width: 15cm;
    }

    
.menu-item-image{
  position: relative;
  border: 0.2mm solid rgb(221, 221, 221);
  max-width: 4cm;
  max-height: 4cm;
  min-width: 3cm;
  min-height: 3cm;
  overflow: hidden;
}

.menu-item-desc {
  margin: 0;
  font-size: 13px;
  max-height: 3cm;
  min-height: 1.5cm;
  color: #6b7280;
  line-height: 1.4;
  /* border: 0.2mm solid red; */
  overflow: hidden;
}
}